# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\360MoveData\Users\liwei\Documents\WeChat Files\wxid_a5wk7nsr6i9n22\FileStorage\File\2023-10\enc-platform(1)\coin-info\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
